services:
  backend:
    build: ./backend
    container_name: backend_service
    networks:
      - appnet

  nginx:
    image: nginx:latest
    container_name: nginx_service
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
